.admin-manage-orders-container {
  background-color: #ffffff;
  padding: 1rem 1rem 0 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.admin-manage-orders-layout {
  display: flex;
  flex-direction: row;
  height: 93vh; 
}

.admin-order-details {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 1rem;
  padding: 0 1rem;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.admin-manage-order-details-top{
  display: flex;
  flex-direction: column;
 gap: 1rem;
}
.admin-manage-order-details-top-left{
  flex: 1;
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 1rem;
}

.admin-manage-order-details-top-right{
  flex: 1;
  border: 1px solid lightgray;
  border-radius: 1rem;
  padding: 1rem;
}

.admin-order-details select{
  width: 100%;
  border: none;
  height: 2rem;
}

.admin-manage-order-product-slider {
  display: flex;
  width: 35%;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.admin-manage-order-slider {
  display: flex;
  flex-direction: column; 
  max-height: 100%; 
}

.admin-manage-order-product-card {
  
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
  transition: box-shadow 0.3s;
}

.admin-manage-order-product-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.admin-manage-orders-container h1, h2, h3, h4 {
  color: #333;
}

.admin-order-details button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: rgb(50, 46, 46);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-order-details button:hover {
  background-color: #45a049;
}
