@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: "Poppins", sans-serif;
    --primary-color: #F0E5CF;
    --secondary-color: #C8C6C6;
    --accent-color: #4B6587;
    --background-color: #F7F6F2;
}

button {
    font-family: "Poppins", sans-serif;

}