.admin-product-card {
    display: flex;
    width: 100%; /* Adjust width as needed */
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .admin-product-info {
    display: flex;
    flex: 2.2;
  }
  
  .admin-product-image-container {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  
  .admin-product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: center;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
  }
  
  .admin-product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .admin-product-card-stock{
    flex: 1;
    display: flex;
    flex-direction: column;
    
  }
  
  .admin-product-actions-buttons {
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-direction: column; /* Align buttons to the right */

  }
  
  .admin-product-actions-buttons-btn {
    width: 5rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
