.admin-manage-product-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    box-sizing: border-box; 
    padding: 2rem;
}


.admin-manage-product-top{
    height: 30vh;
}

.admin-manage-product-bottom{
   display: flex;
   flex-direction: column;
   border: 1px solid gray;
   gap: 1rem;
   padding: 1rem 0 1rem 0;
   box-sizing: border-box;
   border-radius: 20px;
}

.admin-manage-product-bottoms-search{
    display: flex;

}

.admin-manage-product-bottoms-headings{
    display: flex;
    position: sticky;
    height: 8vh;
    top: 0;
    background-color: lightgray; /* Match your design */
    z-index: 10; /* Ensure it's above other content */
    border-bottom: 1px solid #ddd; /* Optional border */
    display: flex;
    justify-content: space-between; 
    justify-content: space-between;
    padding: 1rem 0 0 2rem ;
}

.admin-manage-product-bottom-products {
   
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}
.admin-manage-product-info{
    display: flex;
    flex: 2;
}
.admin-manage-product-details{
    flex: 1;
    display: flex;

}

.admin-manage-product-bottom-products-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-manage-product-bottom-products-button button{
    width: 10%;
    height: 2rem;
}
