.admin-panel-container {
    display: flex;
    width: 100%;
}

.admin-panel-sidebar {
    position: sticky; 
    top: 0; 
    flex: .5; 
    height: fit-content; 
}

.admin-panel-right {
    flex: 3; 
    padding: 20px; 
    overflow-y: auto;
}