.home-main {
    width: 100%;
    background-color: var(--background-color);
    height: auto;
    overflow: hidden;
}

.home-main-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the div without stretching */
    position: absolute;
    top: 0;
    left: 0;
  }

