.best-selling-section {
    text-align: center;
    padding: 4rem;
    background-color: var(--pink-shade);
  }
  
  .best-selling-section h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .best-selling-section p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4rem;
    justify-items: center;
  }