
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent; /* Optional: to dim the background */
    z-index: 9999; /* To ensure it's above all content */
}
