/* Overall container */
.admin-add-product-page-form-container {
    display: flex;
    width: 100%;
}

/* Image section */
.admin-add-product-page-form-image {
    flex: 0 0 30%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-add-product-page-form-image img {
    max-width: 100%;
    height: auto;
}

/* Form section */
.admin-add-product-page-form {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Form messages */
.admin-add-product-page-error-message,
.admin-add-product-page-success-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.admin-add-product-page-success-message {
    color: green;
}

/* Form group */
.admin-add-product-page-form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.admin-add-product-page-form-group label {
    font-weight: bold;

}

.admin-add-product-page-form-group input,
.admin-add-product-page-form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

/* Dropdown */
.admin-add-product-page-dropdown {
    position: relative;
    width: 100%;
}

.admin-add-product-page-dropdown-button {
    background: none;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.admin-add-product-page-dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    list-style-type: none;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}

.admin-add-product-page-dropdown-content li {
   
    display: flex; 
    align-items: center; 
}

.admin-add-product-page-dropdown-content input[type="checkbox"] {
    width: 1rem;
}

/* Submit button */
.admin-add-product-page-submit-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    text-align: center;
}

.admin-add-product-page-submit-button:hover {
    background-color: #222;
}
