.product-page{
    width: 100%;
    display: flex;
    height: auto;
    flex-wrap: wrap;
}

.product-page-sidebar{
    display: flex;
    flex: .5;
}

.product-page-listing{
    display: flex;
    flex: 3;
}