.product {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }
  
  .left-section {
    display: flex;
    width: 100%;
    flex: 2;
    justify-content: center;
  }
  
  .right-section {
    display: flex;
    flex: 2;
    width: 100%;
    flex-direction: column;
  }