.product-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;

}

.product-name{
  font-size: 44px;
  margin-bottom: 1rem;
}

.product-category-and-rating{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.product-category, .product-brand{
  font-size: 18px;
  font-style: italic;
  background-color: var(--blue-shade);
  padding: .3em .6em;
  border-radius: 20px;
  display: flex;
  gap: .4em;
  align-items: center;
  justify-content: center;
}

.product-brand{
  background-color: var(--pink-shade);
}

.product-quantity{
  display: flex;
  align-items: center;
  gap: .75rem;
}

.product-info{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.product-category-and-company{
  display: flex;
  gap: 1em;
}

.purchase-btns {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  height: auto;
  flex: 1;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.price {
  font-size: 32px;
  font-weight: bold;
}

.rating {
  font-size: 16px;
}

.color-options,
.size-options {
  display: flex;
  flex-direction: column;
}

.colors {
  display: flex;
  gap: 1rem;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(201, 201, 201, 0.7);
}


.add-to-cart-btn,
.buy-now-btn ,
.sold-out-btn{
  width: 18rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 0rem .3rem;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  transition: .2s ease-in-out;
}

.buy-now-btn {
  background-color: var(--green-shade);
  color: black;
}

.add-to-cart-btn:hover,
.buy-now-btn:hover {
  opacity: .83;
}
.sold-out-btn{
  background-color: rgb(178, 88, 88);
  width: 100%;
  cursor:default;
}

.product-details-error-message {
  opacity: 0; 
  visibility: hidden; 
  transform: scale(0.7); /* Start slightly smaller */
  transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out; /* Include transform in transition */
  background-color: #f8d7da; 
  color: #721c24; 
  border: 1px solid #f5c6cb; 
  padding: 10px;
  border-radius: 5px;
}

.product-details-error-message.visible {
  opacity: 1; 
  visibility: visible;
  transform: scale(1); /* Grow to normal size */
}
