.quantity-selector {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .quantity-controls button {
    background-color: #fff;
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: 18px;
  }
  
  .quantity-controls button:focus {
    outline: none;
  }
  
  .quantity-controls span {
    padding: .5rem 1rem;
    max-width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 18px;
  }
  