.quantity-selector {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .quantity-controls button {
    background-color: #fff;
    border: 1px solid rgb(231, 231, 231);
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: 18px;
  }
  
  .quantity-controls button:focus {
    outline: none;
  }
  
  .quantity-controls span {
    padding: .75rem;
    font-size: 18px;
    border-top: none;
    border-bottom: none;
    width: 2rem; /* Fixed width to prevent resizing */
    text-align: center; ;
  }
  