  .product-card {
    background-color: white;
    padding: 1rem;
    border: none;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    max-width: 15rem;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .product-card h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  
  .product-card p {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  