.shop-item:hover {
    color: #007bff;
    /* Change color on hover */
}

/* Dropdown Menu Styling */
.dropdown-menu {
    position: absolute;
    width: 90%;
    top: 40; /* Places it directly below the Shop item */
    left: 50%; /* Starts positioning from the middle of the Shop item */
    transform: translateX(-50%); /* Moves it left by half its width to center it */
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 6;
  }

/* Grid Container */
.dropdown-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    /* Ensure grid takes full width */
}

/* Grid Items */
.dropdown-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    height: 15rem;
    width: 100%;
    /* Align items to the start (left) */
}

.dropdown-column h4 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 16px;
    color: var(--accent-color);
}

.dropdown-column ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 0.05em;
    /* Align text to the left */
}


.dropdown-column li {
    color: #666;
    margin: 0;
    padding: 0;
    font-size: small;
    }

.dropdown-column li:hover {
    color: #007bff;
    text-decoration: underline;
}